.MintHorizontalCard {
	width: 100%;
	display: flex;
	justify-content: space-between;
	margin: 10px 0;
	box-sizing: border-box;
}

.MintHorizontalCard__poster {
	width: 120px;
	height: 120px;
	box-sizing: border-box;
	margin-right: 20px;
}
.MintHorizontalCard__text {
	width: 100px;
	flex: 1 auto;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}