.MintHomeContents__openConcert{
	padding: 0 20px;
}
.MintHomeContents__subTitle {
	display: flex;
	justify-content: space-between;
	padding: 0 20px;
	margin: 80px 0 10px;
	font-weight: bold;
}
.MintHomeContents__subTitle > p{
	font-size: 20px;
}

.MintHomeContents__notOpenList{
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	padding: 0 20px;
	box-sizing: border-box;
}