.searchBar{
	all: unset;
	width: 100%;
	padding: 5px 40px;
	font-size: 16px;
	box-sizing: border-box;
	border-radius: 10px;
}

.searchBar.light{
	border: 2px solid #222831;
}

.searchBar.dark{
	border: 2px solid #FFF;
}

.searchBar:focus.light{
	background-color: rgba(100, 100, 100, .2);
}
.searchBar:focus.dark{
	background-color: rgba(50, 50, 50, .7);
}