.swal2-title {
  font-size: 20px !important;
}

.swal2-html-container {
  font-size: 16px !important;
  
}

.swal2-popup {
  max-width: 340px !important;
}

.swal2-container {
  z-index: 100000 !important;
}