.MintCardItem {
	margin: 10px 0;
	padding: 0 12px;
	box-sizing: border-box;
}
.MintCardItem__img {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 130px;
	box-sizing: border-box;
}

.MintCardItem__img .img__wrapper{
	border-radius: 10px;
}

.MintCardItem__title {
	font-weight: bold;
	margin: 5px 0;
}

.MintCardItem__title .singer{
	font-size: 15px;
}
.MintCardItem__title .title{
	font-size: 14px;
}

.MintCardItem__date {
	font-size: 12px;
}