.MintCardItem {
	width: 100%;
	margin: 10px 0;
	padding: 0 20px;
	box-sizing: border-box;
}
.MintCardItem.open {
	width: 50%;
}
.MintCardItem__img {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	box-sizing: border-box;
}

.MintCardItem__img .img__wrapper{
	border-radius: 10px;
}

.MintCardItem__title {
	margin: 5px 0;
	font-weight: bold;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}