.MintSubHeader {
	display: flex;
	width: 100%;
	height: 50px;
}

.MintSubHeader > .back__btn {
	cursor: pointer;
}

.MintSubHeader > .back__btn {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-left: 10px;
}

.MintSubHeader > .content {
	display: flex;
	justify-content: center;
	align-items: center;
}