.MintHome__sub__title {
	display: flex;
	justify-content: space-between;
	padding: 0 12px;
	margin: 80px 0 10px;
	font-weight: bold;
}
.MintHome__sub__title > p{
	font-size: 20px;
}


.MintHome__not__open__list{
	display: flex;
	width: 100%;
	flex-wrap: wrap;
}

.light {
	color: #222831;
}

.dark {
	color: #EEEEEE;
}