.MintMypageContents__userData {
  width: 100%;
  position: absolute;
  top: 30;
  z-index: 100;
}

.MintMypageContents__userData.light {
  background-color: #FFF;
}

.MintMypageContents__userData.dark {
  background-color: #222831;
}
.MintMypageContents__taps {
  padding-top: 160px;
}
