.MintSearchContents{
	padding: 0 20px;
}
.MintSearchContents__searchBar {
	position: absolute;
	padding: 0 20px;
	width: 100%;
	top: 52px;
	left: 0;
	box-sizing: border-box;
}
.MintSearchContents__searchBar.light {
	background-color: #EEEEEE;
}
.MintSearchContents__searchBar.dark {
	background-color: #222831;
}

.MintSearchContents__itemlist {
	margin-top: 55px;
}