.MintSoonCard {
	width: 100%;
	display: flex;
	justify-content: space-between;
	margin: 10px 0;
	padding: 0 20px;
	box-sizing: border-box;
}

.MintSoonCard__poster {
	width: 100px;
	box-sizing: border-box;
	margin-right: 20px;
}
.MintSoonCard__text {
	flex: 1 auto;
}